body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-content: center;
    background: -webkit-linear-gradient(left, #9896F0,#FBC8D5);
}

.cart-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-items {
    display: flex;
    flex-wrap: wrap;
}

.cart-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.cart-item img {
    max-width: 80px;
    margin-right: 10px;
}

.item-details {
    flex-grow: 1;
}

.remove-btn {
    background-color: #ff3333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.cart-total {
    margin-top: 20px;
    text-align: right;
}

.checkout-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
